<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LineUp</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/sidenav.js"></script>          
</head>
<header>
  <nav>
    <!-- I have made wrapper the parent of the entire nav section -->
    <form id="search-form" class="form w-100">
      <input id="search-input" class="form-input w-100 autocomplete" type="text" name="action" placeholder="Search festivals...">
      <a class="btn waves-effect searchButton"><i class="material-icons">search</i></a>
    </form>
    <a class="nav-link" href="/"><img class="logo" alt="logo" src="../pictures/logo4.png"></a>
    <nav>
        <a href="/" class="brand-logo"></a>
          <!-- <a href="#" class="sidenav-trigger" data-target="slide_down"><i class="material-icons">menu</i></a> -->
            {{#if logged_in}}
            <ul class="right hide-on-med-and-down">
                <li class="active"><a href="/home">Home</a></li>
               
                <span class="username">{{userName}}</span>
                <button class="no-button" id="logout">logout</button>

              {{else}}
              <a class="nav-link" href="/login">Sign In</a> | <a class="nav-link" href="/signup">Sign Up</a> | <a class="nav-link" href="/profile">Profile</a>
              {{/if}}
        </ul>
        {{!-- <ul id="slide-out" class="sidenav">
          <li><div class="user-view">
            <div class="background">
            <img src="/pictures/rainbowconfetti.jpg">
            </div>
            <a href="#user"><img class="circle" src="/pictures/girlface.jpg"></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div></li>
            <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
            <li><a href="#!">Second Link</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Subheader</a></li>
            <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
            </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>          --}}
    </nav>
</header>  

<body>
    <main>
      <section id="homePage" class="homePage" ></section>
    
        {{{body}}}


    </main>
<footer>
  <a href="#">Home</a> | <a href="#">Contact Us</a> | <a href="#">Logout</a>
</footer>
{{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
<script src="/js/search.js"></script>
</body>
</html>