<ul class="collection">
  <li class="collection-item avatar">
    <img src="images/yuna.jpg" alt="" class="circle">
    <span class="title">{{eventTitle}}</span>
    <p>{{eventDescript}}</p>
    <p>{{eventShowtime}}</p>
    <p>{{eventStatus}}</p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
  </ul>