* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* navigation styling */

.wrapper {
    position: fixed;
    width: 100%;
    background-color: crimson;
    font-family: sans-serif;
    padding: 15px 0;
}

/* Target only the links */

.wrapper .menu-bar li a{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
    
}


.wrapper .menu-bar li {
    list-style:none;
    display: inline-block;
    position: relative;

}

/* When hover, change the color of the links to teal */
.wrapper .menu-bar li a:hover {
    color: rgb(18, 233, 233);

}
.wrapper .logo a{
    color: #fff;
    font-weight: 600;
    font-size: 35px;
    align-items: center;
 
}
/* When hovering over my name, it changes color. */
.wrapper .logo a:hover {
    color:rgb(18, 233, 233);
}   

.wrapper .max-width{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.wrapper .menu-bar ul {
    display: none;
    position: absolute;
    background-color: #fff;
    justify-content: space-around;
    padding: 20px 14px;
    border-radius: 4px;
}

.wrapper .menu-bar ul li {
    width: 180px;
    margin-top: 15px;
}

.wrapper .menu-bar ul li a{
    padding: 10px 10px;
    color: black;
    
}

.wrapper .menu-bar ul li a:hover {
    background-color: cornflowerblue;
    display: block;
    border-radius: 4px;
}

.wrapper .menu-bar li:hover ul  {
    display:block;
}

#search-form {
    display: flex;
    position:relative;
    border-radius: 50%;
    transform: translate(50%, 10%);
    /* background: #2f3640; */
    width: 50%;
    align-items: center;
  }
  
  #search-input {
    /* background-color: #2f3640; */
    /* border-radius: 10%; */
    margin-right: .5%;
    margin-top:2%;
    margin-bottom: 5%;
    color: #fff;
  }
  
  .btn {
    margin-bottom: 2.5%;
  }
  
  /* label focus color */
  #search-input input[type=text]:focus + label {
    color: #000;
  }
  /* label underline focus color */
  #search-input input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  #search-input input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  #search-input input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  #search-input .prefix.active {
    color: #000;
  }

  /* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    /* color: #fff; */
    text-align: center;
}
footer .row a{
    color: crimson;
    text-decoration: none;
}
footer .row a:hover{
    text-decoration: underline;
    box-shadow: 10px 30px 60px 30px #0ff;
}
