:root {
    --primary: #03A9F4;
    --secondary: #29B6F6;
    --terciary: #B2EBF2;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 2px dotted red;
}


/* nav bar */

.logo {
    float: left;
    padding: 10px 0;
    max-height: 80px;
}

nav {
    padding: 0 10px 0 10px;
    background-color: var(--primary);
}

nav .right {
    position: absolute;
    top: 0px;
    right: 0px;
}



.nav-wrapper form {
    margin: auto;
    width: 50%;
}

.nav-wrapper .input-field {
    padding-top: 7px;
}

.nav-wrapper form #search {
    height: 50px;
}


nav .right img {
    margin: 17px;
    height: 30px;
    width: 30px;
    border: 2px solid white;
    cursor: pointer;
}

nav .right .imgProfil a {
    height: 64px;
}

.hidden {
    display: none;
}


/* homePage section styling */
.homePage {
    /* display: flex; */
    background: url("/pictures/rainbowconfetti.jpg") no-repeat center;
    height: 30vh;
    /* color: cornsilk; */
    min-height: 700px;
    /* background-size: cover; */
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
  
footer {
    color: cornsilk !important;
    background: #111;
    padding: 15px 23px;
    text-align: center;
}

footer a{
    color: cornsilk !important;
    text-align: center;
}

footer a:hover {
    color: darkorchid;
    background: transparent;
    /* text-decoration: underline; */
    box-shadow: 10px 30px 60px 30px #ff3399;
}




